body,
html {
  /* font-family: "Poppins", "serif"; */
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: "Poppins", "serif"; */
}


.button {

  align-items: center;

  font-size: 15px;
}


.error-message {
  color: red;
}


.image-div {
  height: 100vh;
  background-image: url('http://localhost/First_CI_Project/assets/images/log-image.jpg');
  padding: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.outer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
  border-radius: 10px;

  /* align-content: right; */
  input {
    border-radius: 20px;
  }

  button {
    border-radius: 20px;
    font-size: 15px;
  }


  #welcome_msg {
    text-align: center;
  }

  .logo-img {
    display: flex;
    justify-content: center;

  }
}


.Main-container {

  height: 100%;
  width: 100vw;

  .navbar {
    height: 45px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(95, 123, 155);
    border-bottom: 1px solid white;
    color: white;

    .logo {
      img {
        width: 60%;
      }
    }

    .user-profile-icon {
      img {
        width: 35px;
        margin-left: 15px;

      }

    }
  }

  .inner-container {
    display: flex;
    height: calc(100% - 45px);

    .sidebar {
      display: flex;

      flex-direction: column;
      background-color: rgb(95, 123, 155);
      padding: 15px;
      height: 100%;

      a {
        text-decoration: none;
        width: 100%;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
      }

      a:hover {
        background-color: #02aae5;

      }

      .active {
        background-color: #02aae5;
      }

      .logout-div {
        margin-top: auto;

        a:hover {
          background-color: transparent;
          /* height: 20px; */
        }

        img {
          width: 20px;
        }
      }

    }

    .content {
      font-size: 15px;
      height: 100%;
      overflow-y: auto;

      input,
      select {
        height: 30px;
        font-size: 15px;
      }

      label {
        margin-bottom: 5px;
      }



      .records-div {
        padding: 25px;
        width: 100%;
        gap: 24px;

        .search-data {

          button {
            margin-top: 25px;

          }

        }

      }

      th {
        background-color:
          #5e7b99;
        color: white;


      }

      td {
        button {
          margin: 0px;
          padding: 0px;
        }

      }

    }
  }



  .page-row {
    display: flex;
    justify-content: space-between;
    padding: 8px;

    select {
      border-radius: 5px;

    }

    .paggination {
      .btn:focus{
        box-shadow: white;
      }
    }
  }
}



#show-img {

  #pic {
    width: 40px;
    height: 50px;

  }
}